/* general  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

.container {
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ------------------------------------------------- */
/* nav bar */
.header {
    padding: 10px;
    background-color: white;
    box-shadow: 1px 6px 10px #d7d5d5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}


.container .logo {
    width: 250px;
    text-align: center;
    align-items: center;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.header .container .logo i {
    font-size: 50px;
}

.header .container .name-page {
    width: 170px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    padding: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 15px;
}


.header .links ul {
    list-style: none;
    display: flex;
    padding-right: 60px;
    justify-content: space-between;
}

.header .links ul li a {
    text-decoration: none;
    padding: 20px;
    margin: 5px;
    color: black;
    position: relative;
}


.header .links ul li a::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: black;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.header .links ul li a:hover:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: black;
}

.header .links ul li .here::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: black;
}

.clear {
    height: 35px;
}

/* ------------------------------------------- */
.Info {
    width: 100%;
    height: 200px;
    background-color: #1b1c1d;
    display: flex;
    justify-content: space-evenly;
}

.Info .container {
    background-color: #1b1c1d;
    display: flex;
    align-items: center;
    padding: 20px;
}

.Info .logo {
    width: 165px;
    height: 60px;
    color: #eee;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Info .logo .name-page {
    padding-left: 5px;
}

/* ------------------------------------------- */

.Search {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3 {
    padding-left: 40px;
}

.Search form {
    opacity: 0;
    transform: translateY(-20px);
    animation: showtheform 2s ease forwards;
}

@keyframes showtheform {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

form {
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    width: 430px;
    margin: 0 auto;
}

h3 {
    padding: 10px;
    text-align: center;
}



input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button {
    width: auto;
    padding: 10px;
    margin-top: 10px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #287a28;
    transform: scale(1.1);
}


}

/*-------------------------------------------------------*/
h1,
table,
th,
td {
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    margin-top: 94px;
    background-color: #1b1c1d;
    color: white;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

thead {
    background-color: #9d9d9d;
}

tbody tr:hover td {
    background-color: #d1d1d1;
}

th {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 19px;
    white-space: nowrap;
}

td {
    text-align: center;
    font-size: 20px;
}

tbody td:nth-child(3) {
    padding: 5px 10px;
    border-radius: 3px;
}

tr,
td {
    padding: 10px;
    border-bottom: 1px solid black;
}

/*info*/
/* ------------------------------------------------------ */
.Info {
    width: 100%;
    height: 200px;
    background-color: #1b1c1d;
    display: flex;
    justify-content: space-evenly;
}

.Info .container {
    background-color: #1b1c1d;
    display: flex;
    align-items: center;
    padding: 20px;
}

.Info .logo {
    width: 165px;
    height: 60px;
    color: #eee;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Info .logo .name-page {
    padding-left: 5px;
}

table {
    animation: showthetable 2s ease forwards;
}

@keyframes showthetable {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}